<h2><%= @restaurant.name %></h2>

<%= @restaurant.address %><br>
<%= @restaurant.city %><br>
<%= @restaurant.state %><br>
<%= @restaurant.zip %><br>
<%= @restaurant.description %><br><br>

<h5>Reviews:</h5>

<% @reviews.each do |review| %>
  Rating: <%= review.rating %><br>
  Review: "<%= review.body %>"<br>
  Review date: <%= review.created_at.strftime('%B %d %Y') %><br><br>
<% end %>
<br>

<%= link_to 'Add a Review', new_restaurant_review_path(@restaurant) %><br>
<%= link_to 'Delete This Restaurant and All Reviews Associated With It', restaurant_path(@restaurant),
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
